
<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <title>Sign In - Online Platform BOOM</title>
        <meta charset="utf-8" />
        <meta name="viewport" http-equiv="content-type" content="width=device-width, initial-scale=1, user-scalable=no ,text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <!-- Header -->
                    <header id="header">
                        <form name="form0" action="/" method="get">
                            <a href="#" onclick="form0.submit()" class="logo"><strong>Online Platform</strong> BOOM</a>
                        </form>
                    </header>
                    <!-- Banner -->
                    <form name="form1" action="loginChk" method="post">
                        <div style="text-align: center; margin-top: 30px">
                            <!-- <div style="font-size:xx-large;">WELCOME TO BOOM</div> -->
                            <img src ="main.png"  alt="">
                        </div>
                        <table border="1" style="width:600px ; margin: auto; text-align: center; margin-top: 15px;">
                            <colgroup>
                                <col width='15%' />
                                <col width='*%' />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td><input type="text" name="id" size="30" style="color:dimgray; " maxlength="120"></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input type="password" name="passwd" size="30" style="color:dimgray;" maxlength="120"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center; margin-top: 30px;">
                            <a href="#" class="button big" style="background-color: ghostwhite;" onclick="form1.submit()">Login</a>
                        </div > 
                    </form>   
                    <form name="form2" action="new" method="get"  >
                        <div style="text-align: center; margin-top: 30px">
                            <a href="#" class="button big" style="background-color: ghostwhite;" onclick="form2.submit()">Sign UP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>	               
</html>
	

