<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>

<title>Online Platform BOOM</title>
		<meta charset="utf-8" />
		<meta name="viewport" http-equiv="content-type" content="width=device-width, initial-scale=1, user-scalable=no ,text/html; charset=UTF-8" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header" style="margin: auto;">
                                    <a href="#" class="logo"><strong>Online Platform</strong> BOOM</a>
                                    <div class="logo" style="text-align: center; font-size: xx-large"> <strong>ERROR </strong></div>
									<ul class="icons">
										<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li> -->
									</ul>
                                </header>
                                <div style="margin-top: 50px; text-align: center;">
                                        <h1><%= message %></h1>
                                        <h1><%= error.status %></h1>
									</div>
									<!-- Footer -->
									<footer style="text-align: center; margin-top: 30px;" id="footer">
								<p class="copyright">&copy; 2021PeopleSpace TeamB. BOOM. 
									GitHub Source: <a href="https://github.com/s0ye0nyang/peoplespace-group-B">GitHub</a>. 
									Design: <a href="https://html5up.net">HTML5 UP</a>.
								</p>
							</footer>	
                                        <!-- <pre><%= error.stack %></pre> -->
                                </div></div></div></body></html>