<!-- <!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board sample for firebase (Auth)</title>
</head>
</head>
    <form name="form1" action="loginChk" method="post">
        <table border="1" style="width:600px">
            <caption>board sample for firebase (Auth)</caption>
            <colgroup>
                <col width='15%' />
                <col width='*%' />
            </colgroup>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td><input type="text" name="id" size="20" maxlength="20"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="passwd" size="20" maxlength="20"></td>
                </tr>
            </tbody>
        </table>
        <a href="#" onclick="form1.submit()">Login</a>
    </form>   
</body>
</html> -->


<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>

<title>Online Platform BOOM</title>
		<meta charset="utf-8" />
		<meta name="viewport" http-equiv="content-type" content="width=device-width, initial-scale=1, user-scalable=no ,text/html; charset=UTF-8" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header" style="margin: auto;">
                                    <a href="#" class="logo"><strong>Online Platform</strong> BOOM</a>
                                    <div class="logo" style="text-align: center; font-size: xx-large"> <strong>LOGIN to BOOM </strong></div>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

                            <!-- Banner -->
                            <form name="form1" action="loginChk" method="post">
                                <div style="text-align: center; margin-top: 30px">
                                    <!-- <div style="font-size:xx-large;">WELCOME TO BOOM</div> -->
                                <img src ="main.png"  alt="">
                                </div>
                                <table border="1" style="width:600px ; margin: auto; text-align: center; margin-top: 15px;">
                                    <caption></caption>
                                    <colgroup>
                                        <col width='15%' />
                                        <col width='*%' />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td><input type="text" name="id" size="30" style="color:dimgray; " maxlength="120"></td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td><input type="password" name="passwd" size="30" style="color:dimgray;" maxlength="120"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center; margin-top: 30px;">
                                <a href="#" class="button big" style="background-color: ghostwhite;" onclick="form1.submit()">Login</a>
                                    </div > 
                                   
                            </form>   
                            
                                <form name="form2" action="new" method="get"  >
                                    <div style="text-align: center; margin-top: 30px">
                                        <a href="#" class="button big" style="background-color: ghostwhite;" onclick="form2.submit()">Sign UP</a>
                                            </div>
                                </form>
                            
						</div></div></div></body>	</html>
	

